 <ul class="list-2">
  <li style="color:gray">Telefon: @Html.Raw(ViewBag.CompanyProfile.Phone ?? "")<br />
    Fax: @Html.Raw(ViewBag.CompanyProfile.Fax ?? "")<br />
    E-Posta: @Html.Raw(ViewBag.CompanyProfile.EMail ?? "")<br />
    </li>
</ul>