

<div class="content-indent">
  <div id="vmMainPage">
      <div class="clear">
          <div class="buttons_heading">
              <a href="http://livedemo00.template-help.com/virtuemart_33675/index2.php?option=com_virtuemart&page=shop.pdf_output&showpage=shop.product_details&pop=1&output=pdf&product_id=8&category_id=3&pop=1"
                  title="PDF" onclick="void window.open('index2.php?option=com_virtuemart&amp;page=shop.pdf_output&amp;showpage=shop.product_details&amp;pop=1&amp;output=pdf&amp;product_id=8&amp;category_id=3&amp;pop=1', '_blank', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');return false;">
                  <img src="images/M_images/pdf_button.png" alt="PDF" name="PDF" align="middle" border="0" /></a><a
                      href="http://livedemo00.template-help.com/virtuemart_33675/index2.php?page=shop.product_details&category_id=3&flypage=flypage.tpl&product_id=8&option=com_virtuemart&Itemid=54&pop=1&tmpl=component"
                      title="Print" onclick="void window.open('index2.php?page=shop.product_details&amp;category_id=3&amp;flypage=flypage.tpl&amp;product_id=8&amp;option=com_virtuemart&amp;Itemid=54&amp;pop=1&amp;tmpl=component', '_blank', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');return false;"><img
                          src="images/M_images/printButton.png" alt="Print" name="Print" align="middle"
                          border="0" /></a><a href="index2.php~page=shop.recommend&product_id=8&pop=1&tmpl=component&option=com_virtuemart&Itemid=54.html"
                              title="E-mail" onclick="void window.open('index2.php?page=shop.recommend&amp;product_id=8&amp;pop=1&amp;tmpl=component&amp;option=com_virtuemart&amp;Itemid=54', '_blank', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no,screenX=100,screenY=200');return false;"><img
                                  src="images/M_images/emailButton.png" alt="E-mail" name="E-mail" align="middle"
                                  border="0" /></a>
          </div>
      </div>
      <div class="clear indent">
                                <div class="browseProductImageContainer">
                                    <div class="browseProductImage">
                                        <a href="components/com_virtuemart/shop_image/product/Product08.png" title="Cargo Short "
                                            rel="lightbox[product8]">
                                            <img src="@Url.FrontUrl().ResizeImageUrl(ViewBag.Product.Image, 226, 202)"
                                                height="204" width="228" alt="Cargo Short " border="0" /><br />
                                            View Full-Size Image</a>
                                    </div>
                                    <br />
                                    <br />
                                </div>
                                <div class="floatElement">
                                    <h2 class="browseProductTitle">
                                        <span title="Cargo Short " class="product_name">Cargo Short </span>
                                    </h2>
                                    <div class="browsePriceContainer">
                                        <span class="product-Old-Price">$95.00 </span><span class="productPrice">$87.98
                                        </span>
                                    </div>
                                    <div>
                                    </div>
                                    <div class="ask_seller nobutton">
                                        <a class="button" href="index.php~page=shop.ask&flypage=flypage.tpl&product_id=8&category_id=3&option=com_virtuemart&Itemid=54.html">
                                            Ask a question about this product</a>
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla neque et
                                        sapien varius vel consequat metus vehicula. Suspendisse potenti. Phasellus egestas,
                                        dolor vitae scelerisque feugiat, quam nisi semper orci, vitae sagittis dui risus
                                        at tellus. Suspendisse neque augue, viverra at ultricies non, rutrum at justo. Vestibulum
                                        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam
                                        dapibus consectetur enim sit amet interdum. Proin aliquet porttitor imperdiet. Aliquam
                                        ultrices pulvinar enim, eu lobortis
                                    </div>
                                    <div>
                                        <div class="vmCartContainer">
                                            <form action="http://livedemo00.template-help.com/virtuemart_33675/index.php" method="post"
                                            name="addtocart" id="addtocart_4eabf54561419" class="addtocart_form" onsubmit="handleAddToCart( this.id );return false;">
                                            <div class="vmCartDetails">
                                                <input type="hidden" name="product_id" value="8" />
                                                <input type="hidden" name="prod_id[]" value="8" />
                                            </div>
                                            <div style="width: auto; float: left; padding-right: 10px;">
                                                <div class="quantity">
                                                    <label for="quantity8" class="quantity_box">
                                                        Quantity:&nbsp;</label><input type="text" class="inputboxquantity" size="4" id="quantity8"
                                                            name="quantity[]" value="1" />
                                                    <input type="button" class="quantity_box_button quantity_box_button_up png" onclick="var qty_el = document.getElementById('quantity8'); var qty = qty_el.value; if( !isNaN( qty )) qty_el.value++;return false;" />
                                                    <input type="button" class="quantity_box_button quantity_box_button_down png" onclick="var qty_el = document.getElementById('quantity8'); var qty = qty_el.value; if( !isNaN( qty ) &amp;&amp; qty > 0 ) qty_el.value--;return false;" /></div>
                                            </div>
                                            <input type="submit" class="addtocart_button" value="Add to Cart" title="Add to Cart" />
                                            <input type="hidden" name="flypage" value="shop.flypage.tpl" />
                                            <input type="hidden" name="page" value="shop.cart" />
                                            <input type="hidden" name="manufacturer_id" value="1" />
                                            <input type="hidden" name="category_id" value="3" />
                                            <input type="hidden" name="func" value="cartAdd" />
                                            <input type="hidden" name="option" value="com_virtuemart" />
                                            <input type="hidden" name="Itemid" value="54" />
                                            <input type="hidden" name="set_price[]" value="" />
                                            <input type="hidden" name="adjust_price[]" value="" />
                                            <input type="hidden" name="master_product[]" value="" />
                                            </form>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <!-- List of product reviews -->
                                    <h3 class='Title'>
                                        <span>Customer Reviews:</span></h3>
                                    <br />
                                    There are yet no reviews for this product.
                                    <br />
                                    Please log in to write a review.</div>
                                <br />
                            </div>
                            <div>
                                <div class="vmRecent">
                                    <!-- List of recent products -->
                                    <div class="topSeparator">
                                        <h3 class='title'>
                                            Recently Viewed Products</h3>
                                        <ul class="vmRecentDetail">
                                            <li><a href="index.php~page=shop.product_details&product_id=6&category_id=1&flypage=flypage.tpl&option=com_virtuemart&Itemid=54.html">
                                                Inked A|X T-Shirt </a>&nbsp;(Category:&nbsp; <a href="index.php~page=shop.browse&category_id=1&option=com_virtuemart&Itemid=54.html">
                                                    Tops</a>) </li>
                                            <li><a href="index.php~page=shop.product_details&product_id=2&category_id=1&flypage=flypage.tpl&option=com_virtuemart&Itemid=54.html">
                                                Denim &amp; Knit Moto Jacket </a>&nbsp;(Category:&nbsp; <a href="index.php~page=shop.browse&category_id=1&option=com_virtuemart&Itemid=54.html">
                                                    Tops</a>) </li>
                                            <li><a href="index.php~page=shop.product_details&product_id=5&category_id=1&flypage=flypage.tpl&option=com_virtuemart&Itemid=54.html">
                                                Shawl Collar Hoodie Sweater</a>&nbsp;(Category:&nbsp; <a href="index.php~page=shop.browse&category_id=1&option=com_virtuemart&Itemid=54.html">
                                                    Tops</a>) </li>
                                            <li><a href="index.php~page=shop.product_details&product_id=4&category_id=1&flypage=flypage.tpl&option=com_virtuemart&Itemid=54.html">
                                                Ribbed Sweater Jacket </a>&nbsp;(Category:&nbsp; <a href="index.php~page=shop.browse&category_id=1&option=com_virtuemart&Itemid=54.html">
                                                    Tops</a>) </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="statusBox" style="text-align: center; display: none; visibility: hidden;">
                            </div>
                        </div>
                    </div>