<User xmlns="http://schemas.datacontract.org/2004/07/Kooboo.Connect" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Name>dev</Name><Profile i:nil="true"/><Membership><Password>BRfffxbMmL8vdr5Dd2iAbopIwbU=</Password><PasswordSalt>EvBiZzg5VypvIrZJM9EU1g==</PasswordSalt><PasswordQuestion i:nil="true"/><PasswordAnswer i:nil="true"/><IsApproved>true</IsApproved><IsLockedOut>false</IsLockedOut><CreateDate>2011-08-12T17:25:20.6132812+08:00</CreateDate><LastLoginDate i:nil="true"/><LastPasswordChangedDate i:nil="true"/><LastLockoutDate i:nil="true"/><FailedPasswordAttemptCount>0</FailedPasswordAttemptCount><FailedPasswordAttemptWindowStart i:nil="true"/><FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount><FailedPasswordAnswerAttemptWindowStart i:nil="true"/><Comment i:nil="true"/></Membership><Email>Dev@chinasoftware.eu</Email></User>