<User xmlns="http://schemas.datacontract.org/2004/07/Kooboo.Connect" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Name>editor</Name><Profile i:nil="true"/><Membership><Password>yVXkzdrMPin3CfcYlD/WOnlAHaU=</Password><PasswordSalt>J10UDqkpRKLoL4bTUb6LFA==</PasswordSalt><PasswordQuestion i:nil="true"/><PasswordAnswer i:nil="true"/><IsApproved>true</IsApproved><IsLockedOut>false</IsLockedOut><CreateDate>2011-08-03T15:01:34.8955078+08:00</CreateDate><LastLoginDate i:nil="true"/><LastPasswordChangedDate i:nil="true"/><LastLockoutDate i:nil="true"/><FailedPasswordAttemptCount>0</FailedPasswordAttemptCount><FailedPasswordAttemptWindowStart i:nil="true"/><FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount><FailedPasswordAnswerAttemptWindowStart i:nil="true"/><Comment i:nil="true"/></Membership><Email>editor@chinasoftware.eu</Email></User>