<ArrayOfUrlKeyMap xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><UrlKeyMap><Key>Anasayfa/ProductCategories/ProductList</Key><PageFullName/></UrlKeyMap><UrlKeyMap><Key>Anasayfa/ProductCategories/ProductList/UrunDetay</Key><PageFullName/></UrlKeyMap><UrlKeyMap><Key>Anasayfa/Urunler</Key><PageFullName/></UrlKeyMap></ArrayOfUrlKeyMap>