<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="menu" type="Kooboo.Web.Mvc.Menu.Configuration.MenuSection, Kooboo" requirePermission="false"/>
    <section name="webResources" type="Kooboo.Web.Mvc.WebResourceLoader.Configuration.WebResourcesSection, Kooboo" requirePermission="false"/>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <menu configSource="menu.config"/>
  <webResources configSource="WebResources.config"/>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>

        <add namespace="Kooboo"/>
        <add namespace="Kooboo.Extensions"/>
        <add namespace="Kooboo.Web.Mvc"/>
        <add namespace="Kooboo.Web.Mvc.Html"/>
        <add namespace="Kooboo.CMS.Sites.View"/>
        <add namespace="Kooboo.CMS.Sites.Globalization"/>
        <add namespace="Kooboo.Web.Mvc.WebResourceLoader"/>
        <add namespace="Kooboo.Globalization"/>
        <add namespace="Kooboo.Web.Mvc.Grid"/>
        <add namespace="Kooboo.Web.Mvc.Paging"/>
        <add namespace="Kooboo.CMS.Sites.Models"/>
        <add namespace="Kooboo.CMS.Sites.Services"/>
        <add namespace="Kooboo.CMS.Content.Query"/>

        <add namespace="Kooboo.CMS.Form"/>
        <add namespace="Kooboo.CMS.Form.Html"/>

        <add namespace="Kooboo.CMS.Sites.Extension.Module"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <httpModules>
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="Kooboo.CMS.Sites.Web.FrontUrlRoutingModule,Kooboo.CMS.Sites"/>
    </httpModules>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Kooboo.CMS.Sites.Extension.Module"/>
        <add namespace="Kooboo.CMS.Sites.View"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="Kooboo.CMS.Sites.Web.FrontUrlRoutingModule,Kooboo.CMS.Sites"/>
    </modules>
  </system.webServer>
</configuration>

