 <h5 class="unreset" style="font-size:15pt">Hizmetlerimiz</h5>
<div style="width:300px; margin:5px">
    @foreach (var item in ViewBag.Services){
<div style="float: left; width: 300px; padding-bottom:20px">
  <div style="float: left; height:120; margin-right:8px">
            @if(item.Image != null) {<img src="@Url.FrontUrl().ResizeImageUrl(item.Image,50,50)"></img>}
    </div>
  <div style="width:210px;padding-right:5px;">
            <a class='title' href='@Url.FrontUrl().PageUrl("Anasayfa/Hizmetlerimiz/detail",new { UserKey = item.UserKey})'>
                @item.Name</a><br />
            @Html.Raw(item.Summary)
</div>
  </div>
    }
</div>