<Role xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Name>Editor</Name><Permissions><Permission><AreaName>Contents</AreaName><DisplayName>Schema</DisplayName><Group/><Id>Contents__Schema</Id><Name>Schema</Name><Role i:nil="true"/><RoleName i:nil="true"/></Permission><Permission><AreaName>Contents</AreaName><DisplayName>Content</DisplayName><Group/><Id>Contents__Content</Id><Name>Content</Name><Role i:nil="true"/><RoleName i:nil="true"/></Permission></Permissions></Role>