<?xml version="1.0"?>
<menu>
    <items>
        <add name="Settings" text="Settings" action="Settings" controller="Admin" visible="true" initializer="Kooboo.CMS.Sites.Extension.Module.ModuleMenuInitializer,Kooboo.CMS.Sites"></add>
        <add name="News" text="News" action="Index" controller="News" initializer="Kooboo.CMS.Sites.Extension.Module.ModuleMenuInitializer,Kooboo.CMS.Sites"></add>
    </items>
</menu>