<Site xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DisplayName>deneme</DisplayName><Culture>tr-TR</Culture><Theme>Default</Theme><Domains i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><SitePath/><Mode>Debug</Mode><Version>0.5.0.0</Version><Repository>denme</Repository><CustomErrors i:nil="true"/><EnableJquery>true</EnableJquery><InlineEditing>true</InlineEditing><Smtp><EnableSsl>false</EnableSsl><From/><Host/><Password/><Port>25</Port><To xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><a:string/></To><UserName/></Smtp><ShowSitemap>true</ShowSitemap><CustomFields i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><EnableVersioning>true</EnableVersioning></Site>