<Site xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DisplayName>Şirket Sitesi</DisplayName><Culture>tr-TR</Culture><Theme>Default</Theme><Domains xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><a:string>localhost</a:string></Domains><SitePath/><Mode>Release</Mode><Version>0.5.0.0</Version><Repository>SirketSitesi</Repository><CustomErrors i:nil="true"/><EnableJquery>true</EnableJquery><InlineEditing>true</InlineEditing><Smtp><EnableSsl>false</EnableSsl><From/><Host/><Password/><Port>25</Port><To xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><UserName/></Smtp><ShowSitemap>true</ShowSitemap><CustomFields i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><EnableVersioning>false</EnableVersioning></Site>