 <div>
   <br />
   <div style="border-width:1px; float:left; width:300px; height:400px; border-color:gray; border-style:solid">
   		<img src="@Url.FrontUrl().ResizeImageUrl(ViewBag.Product.Image,280,380)"/>
   </div>
   <div style="margin-left:20px; float:left">
     <h3 class="title">@Html.Raw(ViewBag.Product.Name ?? "")</h3>
     <b style="font-size:11pt">Fiyat:</b>
     <span style="font-size:14pt">@ViewBag.Product.Price</span> TL <br/>
     <b style="font-size:11pt">Açıklama:</b> @Html.Raw(ViewBag.Product.Description ?? "")
   </div>
</div>