<br />
<div style="width:300px; float:left">
<h5 class="title">İletişim Bilgileri</h5>
<div>
    <div class="content"> 
      <div><strong>Telefon</strong> :@Html.Raw(ViewBag.CompanyProfile.Phone ?? "")</div>
      <div><strong>Fax</strong> :@Html.Raw(ViewBag.CompanyProfile.Fax ?? "")</div>
      <div><strong>E-Posta</strong> :@Html.Raw(ViewBag.CompanyProfile.EMail ?? "")</div>
      <div><strong>Adres</strong> :@Html.Raw(ViewBag.CompanyProfile.Address ?? "")</div>
    </div>
</div>
</div>