 <ul class="list-2">
    @foreach (var item in ViewBag.References){
    <li>
        <a href='@Url.FrontUrl().PageUrl("Anasayfa/Referanslarimiz/Detay",new { UserKey = item.UserKey})'>@item.Name</a>
    </li>
    }
</ul> 