<TextFolder xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DisplayName>Ürün Kategorileri</DisplayName><UtcCreationDate>0001-01-01T00:00:00</UtcCreationDate><UserId i:nil="true"/><SchemaName>ProductCategory</SchemaName><Categories><CategoryFolder><FolderName>ProductCategory</FolderName><SingleChoice>true</SingleChoice></CategoryFolder></Categories><CategoryFolders xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><EmbeddedFolders i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><WorkflowName i:nil="true"/><Roles i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><OrderSetting><Direction>Descending</Direction><FieldName>Sequence</FieldName></OrderSetting></TextFolder>