@foreach (var item in ViewBag.Products){
<div class="module_banners">
  <div class="boxIndent">
      <div class="bannergroup_banners">
          <div class="banneritem_banners">
              <a href="index.php~option=com_banners&task=click&bid=1.html">
                  <img src='@Url.FrontUrl().ThemeFileUrl("images/banners/banner1.png")' alt="Banner" /></a>
            <div class="clr">
            </div>
          </div>
      </div>
  </div>
</div>
}