<User xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Email>test@chinasoftware.eu</Email><Password>******</Password><IsAdministrator>false</IsAdministrator><CustomFields i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/></User>